@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    width: 375px;
    height: 67px;
    margin: auto;
    border-bottom: 1px solid #C6C6C6;
}
nav{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    align-items: center;
}
#logo{
    height: 54px;
    width: 137px;
    fill: black;
}
.profile-pic{
    height: 34px;
    width: 34px;
    border-radius: 50%;
}
main{
    width: 375px;
    height: auto;
    margin: auto;
    padding: 10px 0px;
}
section.post{
    width: inherit;
    height: inherit;
    min-height: 545px;
;
}
.profile{
    width: 348px;
    height: 34px;
    margin: 0px 10px;
    display: flex;
}
.det{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 7px;
}
.name, .username, .likes{
    font-weight: 700;
    font-size: 13px;
}
.main-pic{
    margin-top: 10px;
    position: relative;

}
.main-pic img{
    z-index: 1;
}

@keyframes like {
    0% {
      opacity: 1;
      transform: scale(0);
    }
    25% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    75%{
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
  }

.main-pic svg.lick{
    z-index: 2;
    position: absolute;
    top: 140.5px;
    left: 145px;
    animation: like 1.5s linear 1;
    opacity: 0;
}
.main-pic img, .main-pic{
    width: inherit;
}
div.bottom{
    width: 346px;
    min-height: 78px;
    max-height: 88px;
    margin: 21px 19px 16px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}

.icons{
    display: flex;
    width: 104.34px;
    justify-content: space-between;
}

.icons svg{
    transition: all 0.3s linear;
}

.icons svg:active,
.icons svg:focus{
    transform: scale(0.7);
}

.unliked{
    stroke: black;
}
.unliked-dark{
    stroke: white;
}
.liked{
    stroke: red;
    fill: red;
}

.none{
    display: none;
}

.body-dark{
    background-color: black;
    color: white;
    fill: white;
    stroke: white;
}
.invertsvg{
    color: black;
    stroke: black;
    stop-color: black;
}
.borders{
    border: 1px dashed black;
}
@media screen and (max-width: 760px) {
    nav, main{
        width: 100%;
    }
    section.post{
        padding-bottom: 10px;
    }
}